.example-card {
  max-width: 300px;
  min-width: 300px;
  height: 325px;
  min-height: 325px;
  max-height: 325px;
  width: 300px;
}

.mat-card-image {
  padding: 15px;
  height: 250px;
  min-height: 250px;
  max-height: 250px;
}
