<div class="text-center my-5">
  <h4>Admin Panel</h4>
</div>
<div class="card-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <mat-card class="example-card" (click)="onClickCard(1)">
          <img
            class="mat-card-image"
            mat-card-image
            src="./../../../../assets/undraw_Add_files_re_v09g.svg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content class="text-center">
            <b>Add Prodcut</b>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12" (click)="onClickCard(2)">
        <mat-card class="example-card">
          <img
            class="mat-card-image"
            mat-card-image
            src="./../../../../assets/undraw_file_manager_j85s.svg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content class="text-center">
            <b>Manage Prodcut</b>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12" (click)="onClickCard(3)">
        <mat-card class="example-card">
          <img
            class="mat-card-image"
            mat-card-image
            src="./../../../../assets/undraw_Login_re_4vu2.svg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content class="text-center">
            <b>Log out</b>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
