<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">Supermarket Application</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/home'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Account Setting</a>
      </li>
    </ul>
  </div>
</nav>
<header>
  <div class="overlay">
    <div class="header-text">
      <p class="first-text">Welcome To Golzem Supermaket</p>
      <p class="second-text">save even more with Golzem rewards!</p>
      <button mat-raised-button>Read More !</button>
    </div>
  </div>
</header>
<supermarket-product-list></supermarket-product-list>
