<div class="wrapper">
  <div class="text-center">
    <h4>{{ data.title }}</h4>
  </div>
  <div class="product-cover">
    <img
      src="http://localhost:3333/api/files/{{ data.image_src }}"
      class="product-img"
    />
  </div>
  <div class="mt-4">
    <p>
      <b>Price&nbsp;:&nbsp;{{ data.price }}</b>
    </p>
    <p>
      <b>Description&nbsp;:&nbsp;{{ data.description }}</b>
    </p>
  </div>
  <div class="text-right btn-close mb-1">
    <button mat-raised-button color="warn" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
