mat-card {
  min-height: 470px !important;
  max-height: 470px !important;
  height: 470px;
  overflow: auto;
}

.mat-card-image {
  padding: 15px;
  height: 250px;
  min-height: 250px;
  max-height: 250px;
}
