.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-image {
  padding: 15px;
  height: 250px;
  min-height: 250px;
  max-height: 250px;
}

mat-card {
  min-height: 470px !important;
  max-height: 470px !important;
  height: 470px;
}
